<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="article description">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="Fonbet чемпионат кхл">
    <meta property="og:description" content="article description">
    <meta property="og:image" content="/image/share/share.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Fonbet чемпионат кхл">
    <meta name="twitter:description" content="article description">
    <meta name="twitter:image" content="/image/share/share.jpg">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Fonbet чемпионат кхл</title>
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="icon" href="/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#69b0c4">
    <script>
      //- var userAgent = navigator.userAgent.toLowerCase();
      //- var InternetExplorer = false;

      //- if((/mozilla/.test(userAgent) && !/firefox/.test(userAgent) && !/chrome/.test(userAgent) && !/safari/.test(userAgent) && !/opera/.test(userAgent)) || /msie/.test(userAgent)) {
      //- 	InternetExplorer = true;
      //- }

      //- (function (i, s, o, g, r, a, m) {
      //- 	i['GoogleAnalyticsObject'] = r;
      //- 	i[r] = i[r] || function () {
      //- 		(i[r].q = i[r].q || []).push(arguments)
      //- 	}, i[r].l = 1 * new Date();
      //- 	a = s.createElement(o),
      //- 		m = s.getElementsByTagName(o)[0];
      //- 	a.async = 1;
      //- 	a.src = g;
      //- 	m.parentNode.insertBefore(a, m)
      //- })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      //- //- UA-... почти никогда не меняется при rbc проектах
      //- ga('create', 'UA-90428516-32', 'auto', 'rbcspec');
      //- ga('rbcspec.send', 'pageview');
      //- //- NUMBERID нужно менять для каждого проекта
      //- ga('create', 'UA-NUMBERID', 'auto');
      //- ga('send', 'pageview', {'page': location.pathname + location.search + location.hash});
    </script>
    <script defer="defer" src="/vendors.js?v=29139a510d2d62a83f9d"></script>
    <script defer="defer" src="/main.js?v=f4dce6866d959a1f5ff0"></script>
    <link href="/vendors.css?v=5d133d411893fb495d34" rel="stylesheet">
    <link href="/main.css?v=94ef4eed2f77228ef4fb" rel="stylesheet">
  </head>

  <body>
    <div class="page page--article">
      <main class="article" role="main">
        <div class="container"><a class="back js-btn-backHome" href="/"><span class="back__wrapper"><span class="back__icon"><svg><use xlink:href="/spritemap.svg#icon-arrow-back"></use></svg></span></span></a>
          <section>
            <div class="head">
              <div class="head__inner">
                <h1 class="head__title">Fonbet чемпионат кхл</h1>
                <div class="head__logo"><img src="../assets/images/home/1.svg" alt=""></div>
              </div>
              <div class="head__background"><img src="../assets/images/article-1/head/head.png" alt=""></div>
            </div>
            <ul class="breadcrumbs for-desktop">
              <li><a href="/">Главная</a></li>
              <li>/</li>
              <li>Fonbet чемпионат кхл</li>
            </ul>
            <div class="banner">
              <div class="banner__background"><img class="for-desktop" src="/assets/images/banner.png" alt=""><img class="for-devices" src="/assets/images/banner-m.png" alt=""></div>
              <div class="banner__inner">
                <div class="banner__text"><span>БЕЗУСЛОВНЫЙ</span> <span>ФРИБЕТ</span> &#32;<span>ЗА РЕГИСТРАЦИЮ</span></div>
                <div class="banner__amount"><span>до</span> 15000₽</div><a class="button button button--white" href="/" target="_blank"><span class="button__text">ЗАБРАТЬ</span></a>
              </div>
            </div>
          </section>
          <section class="tourney js-btn-visible">
            <div class="tourney__col">
              <div class="tourney__item tourney__item--first">
                <div class="article__title">О турнире</div>
                <div class="tourney__text">
                  <p>FONBET является официальным партнером Континентальной хоккейной лиги (КХЛ) с&nbsp;2021&nbsp;года, поддерживая как регулярный чемпионат, так и&nbsp;важные мероприятия, такие как Матч звезд КХЛ. Это партнёрство включает многолетний контракт, предполагающий финансовую поддержку и&nbsp;продвижение хоккея. В&nbsp;рамках сотрудничества FONBET активно развивает цифровые и&nbsp;рекламные инициативы, включая активации с&nbsp;болельщиками и&nbsp;акционные программы на&nbsp;матчах.</p>
                  <p>В&nbsp;2021 году FONBET стал титульным партнером Матча звезд КХЛ. Это сотрудничество повысило популярность события и&nbsp;привлекло к&nbsp;нему дополнительное внимание через трансляции и&nbsp;социальные сети.</p>
                </div>
              </div>
            </div>
            <div class="tourney__col tourney__col--two-image">
              <div class="tourney__image">
                <div class="img"><img src="/assets/images/article-1/tourney/1.jpg" alt=""></div><a class="button button button--white" href="#" target="_blank"><span class="button__text">Fonbet overtime</span></a>
              </div>
              <div class="tourney__image">
                <div class="img"><img src="/assets/images/article-1/tourney/2.jpg" alt=""></div><a class="button button button--white" href="#" target="_blank"><span class="button__text">Хокквартс</span></a>
              </div>
            </div>
            <div class="tourney__col">
              <div class="tourney__item">
                <div class="tourney__text">
                  <p>КХЛ&nbsp;&mdash; одна из&nbsp;крупнейших хоккейных лиг мира, основанная в&nbsp;2008&nbsp;году, в&nbsp;которой участвуют клубы из&nbsp;России и&nbsp;других стран Европы и&nbsp;Азии. В&nbsp;сезоне 2023/24 в&nbsp;турнире</p>
                  <p>В&nbsp;рамках сотрудничества с&nbsp;КХЛ, FONBET активно поддерживает Матч звезд КХЛ, который является важным событием для продвижения хоккея. Спонсорство FONBET</p>
                  <p>В&nbsp;сезоне 2022/23&nbsp;на матчах КХЛ было зарегистрировано более 2&nbsp;миллионов зрителей, и&nbsp;благодаря партнёрству с&nbsp;FONBET ожидается дальнейший рост этой</p>
                </div>
              </div>
            </div>
            <div class="tourney__col tourney__col--two-text">
              <div class="tourney__blocks">
                <div class="tourney-info"><span>24&nbsp;клуба</span><span>в&nbsp;сезоне 2023/24</span></div>
                <div class="tourney-info"><span>24&nbsp;клуба</span><span>в&nbsp;сезоне 2023/24</span></div>
              </div>
              <div class="tourney__item">
                <div class="tourney__text">
                  <p>В&nbsp;рамках соглашения FONBET с&nbsp;КХЛ используются новейшие технологии для анализа данных и&nbsp;улучшения взаимодействия с&nbsp;болельщиками через мобильные приложения</p>
                </div>
              </div>
            </div>
          </section>
          <section class="charity js-charity">
            <div class="article__title color-red ml-title">Благотворительность</div>
            <div class="charity__wrapper">
              <div class="swiper-container" data-config="1">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"><a class="charity-card" href="#" target="_blank"><span class="charity-card__image"><img src="../assets/images/article-1/charity/1.png" alt=""></span><span class="charity-card__title">ВСЕРОССИЙСКИЙ ФЕСТИВАЛЬ АДАПТИВНОГО ХОККЕЯ</span><span class="charity-card__text">ДоброFON совместно с&nbsp;ФАХ провёл уже VI&nbsp;Всероссийский Фестиваль адаптивного хоккея, количество команд в&nbsp;котором за&nbsp;6&nbsp;лет выросло</span><span class="charity-card__arrow"><svg><use xlink:href="/spritemap.svg#icon-arrow-right-bottom"></use></svg></span></a></div>
                    <div class="swiper-slide"><a class="charity-card" href="#" target="_blank"><span class="charity-card__image"><img src="../assets/images/article-1/charity/2.png" alt=""></span><span class="charity-card__title">ДОБРОФУРА</span><span class="charity-card__text">Совместный проект ДоброFON и&nbsp;FONBET КХЛ, в&nbsp;рамках которого два брендированных грузовика отправились навстречу друг другу с&nbsp;Запада и&nbsp;Востока России. Они останавливались во&nbsp;всех городах, где проводились хоккейные матчи, и&nbsp;организовывали различные</span><span class="charity-card__arrow"><svg><use xlink:href="/spritemap.svg#icon-arrow-right-bottom"></use></svg></span></a></div>
                    <div class="swiper-slide">
                      <div class="charity__banner">
                        <div class="charity__banner-image"><img src="/assets/images/article-1/charity/banner.svg" alt=""></div>
                      </div>
                    </div>
                    <div class="swiper-slide"><a class="charity-card" href="#" target="_blank"><span class="charity-card__image"><img src="../assets/images/article-1/charity/3.png" alt=""></span><span class="charity-card__title">СОТРУДНИЧЕСТВО С&nbsp;&laquo;ЛИЗААЛЕРТ&raquo;</span><span class="charity-card__text">Совместный проект РФС, ДоброFON и&nbsp;ЛизаАлерт, который направлен на&nbsp;информационную поддержку поиска пропавших людей.</span><span class="charity-card__arrow"><svg><use xlink:href="/spritemap.svg#icon-arrow-right-bottom"></use></svg></span></a></div>
                  </div>
                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </section>
          <section class="match">
            <div class="article__title color-red ml-title">БЛИЖАЙШИЕ МАТЧИ</div>
            <div class="match__wrapper">
              <div class="swiper-container" data-config="3">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"><a class="match-card" href="#" target="_blank"><span class="match-card__dates"><span class="match-card__day">17/09</span><span class="match-card__time">19:00</span></span><span class="match-card__teams"><span class="match-card__team">Ростов</span><span class="match-card__team">Крылья Советов</span></span><span class="match-card__live">LIVE</span></a></div>
                    <div class="swiper-slide"><a class="match-card" href="#" target="_blank"><span class="match-card__dates"><span class="match-card__day">17/09</span><span class="match-card__time">19:00</span></span><span class="match-card__teams"><span class="match-card__team">Ростов</span><span class="match-card__team">Крылья Советов</span></span><span class="match-card__live">LIVE</span></a></div>
                    <div class="swiper-slide"><a class="match-card" href="#" target="_blank"><span class="match-card__dates"><span class="match-card__day">17/09</span><span class="match-card__time">19:00</span></span><span class="match-card__teams"><span class="match-card__team">Ростов</span><span class="match-card__team">Крылья Советов</span></span><span class="match-card__live">LIVE</span></a></div>
                    <div class="swiper-slide"><a class="match-card" href="#" target="_blank"><span class="match-card__dates"><span class="match-card__day">17/09</span><span class="match-card__time">19:00</span></span><span class="match-card__teams"><span class="match-card__team">Ростов</span><span class="match-card__team">Крылья Советов</span></span><span class="match-card__live">LIVE</span></a></div>
                  </div>
                </div>
              </div>
            </div><a class="button button button--red" href="/" target="_blank"><span class="button__text">ПОКАЗАТЬ ЕЩЕ</span></a>
          </section>
          <section class="moments js-moments">
            <div class="moments__header">
              <div class="article__title color-red ml-title">ЛУЧШИЕ МОМЕНТЫ</div>
              <div class="moments__search for-desktop"><input type="text" placeholder="Поиск" name="search" value=""></div>
            </div>
            <div class="moments__wrapper">
              <div class="moments__video for-desktop"><iframe width="720" height="405" src="https://rutube.ru/play/embed/25276b9b288c6332e485f4d001a62b61" frameborder="0"></iframe></div>
              <div class="moments__slider">
                <div class="swiper-container" data-config="2">
                  <div class="swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="moments__item"><img class="moments__image" src="../assets/images/article-1/moments/slider/1.png" alt="" role="presentation">
                          <div class="moments__text">FONBET Кубок России 2023/24<br>Зенит&nbsp;&mdash; Спартак. Финал</div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="moments__item"><img class="moments__image" src="../assets/images/article-1/moments/slider/2.png" alt="" role="presentation">
                          <div class="moments__text">FONBET Кубок России 2023/24 Зенит&nbsp;&mdash; Спартак. Финал</div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="moments__item"><img class="moments__image" src="../assets/images/article-1/moments/slider/1.png" alt="" role="presentation">
                          <div class="moments__text">FONBET Кубок России 2023/24 Зенит&nbsp;&mdash; Спартак. Финал</div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="moments__item"><img class="moments__image" src="../assets/images/article-1/moments/slider/1.png" alt="" role="presentation">
                          <div class="moments__text">FONBET Кубок России 2023/24 Зенит&nbsp;&mdash; Спартак. Финал</div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="moments__item"><img class="moments__image" src="../assets/images/article-1/moments/slider/1.png" alt="" role="presentation">
                          <div class="moments__text">FONBET Кубок России 2023/24 Зенит&nbsp;&mdash; Спартак. Финал</div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="table">
            <div class="table__header">
              <div class="article__title color-red ml-title">ТУРНИРНАЯ ТАБЛИЦА</div>
              <div class="table__buttons"><button class="button is-active" type="button" data-tab="1">
                  <div class="button__text">ПУТЬ РПЛ</div>
                </button><button class="button" type="button" data-tab="2">
                  <div class="button__text">ПУТЬ РЕГИОНОВ</div>
                </button></div>
            </div>
            <div class="table__wrapper is-active" data-tab="1">
              <div class="table__item is-active" data-item="1">
                <div class="table__container">
                  <div class="table__item-header">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">№</div>
                        <div class="table__cell">Команда</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">И</div>
                        <div class="table__cell">В/Н/П</div>
                        <div class="table__cell">М</div>
                        <div class="table__cell">О</div>
                      </div>
                    </div>
                  </div>
                  <div class="table__body">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">1</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">2</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">3</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">4</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">5</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__footer">ГРУППА А</div>
              </div>
              <div class="table__item" data-item="2">
                <div class="table__container">
                  <div class="table__item-header">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">№</div>
                        <div class="table__cell">Команда</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">И</div>
                        <div class="table__cell">В/Н/П</div>
                        <div class="table__cell">М</div>
                        <div class="table__cell">О</div>
                      </div>
                    </div>
                  </div>
                  <div class="table__body">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">1</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">2</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">3</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">4</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">5</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__footer">ГРУППА B</div>
              </div>
              <div class="table__item" data-item="3">
                <div class="table__container">
                  <div class="table__item-header">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">№</div>
                        <div class="table__cell">Команда</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">И</div>
                        <div class="table__cell">В/Н/П</div>
                        <div class="table__cell">М</div>
                        <div class="table__cell">О</div>
                      </div>
                    </div>
                  </div>
                  <div class="table__body">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">1</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">2</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">3</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">4</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">5</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__footer">ГРУППА C</div>
              </div>
              <div class="table__item" data-item="4">
                <div class="table__container">
                  <div class="table__item-header">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">№</div>
                        <div class="table__cell">Команда</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">И</div>
                        <div class="table__cell">В/Н/П</div>
                        <div class="table__cell">М</div>
                        <div class="table__cell">О</div>
                      </div>
                    </div>
                  </div>
                  <div class="table__body">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">1</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">2</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">3</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">4</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">5</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__footer">ГРУППА D</div>
              </div>
              <div class="table__footer for-devices"><button class="table__footer-item is-active" type="button" data-item="1">A</button><button class="table__footer-item" type="button" data-item="2">B</button><button class="table__footer-item" type="button" data-item="3">C</button><button class="table__footer-item" type="button" data-item="4">D</button></div>
            </div>
            <div class="table__wrapper" data-tab="2">
              <div class="table__item is-active" data-item="1">
                <div class="table__container">
                  <div class="table__item-header">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">№</div>
                        <div class="table__cell">Команда</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">И</div>
                        <div class="table__cell">В/Н/П</div>
                        <div class="table__cell">М</div>
                        <div class="table__cell">О</div>
                      </div>
                    </div>
                  </div>
                  <div class="table__body">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">1</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">2</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">3</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">4</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">5</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__footer">ГРУППА А</div>
              </div>
              <div class="table__item" data-item="2">
                <div class="table__container">
                  <div class="table__item-header">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">№</div>
                        <div class="table__cell">Команда</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">И</div>
                        <div class="table__cell">В/Н/П</div>
                        <div class="table__cell">М</div>
                        <div class="table__cell">О</div>
                      </div>
                    </div>
                  </div>
                  <div class="table__body">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">1</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">2</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">3</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">4</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">5</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__footer">ГРУППА B</div>
              </div>
              <div class="table__item" data-item="3">
                <div class="table__container">
                  <div class="table__item-header">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">№</div>
                        <div class="table__cell">Команда</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">И</div>
                        <div class="table__cell">В/Н/П</div>
                        <div class="table__cell">М</div>
                        <div class="table__cell">О</div>
                      </div>
                    </div>
                  </div>
                  <div class="table__body">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">1</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">2</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">3</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">4</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">5</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__footer">ГРУППА C</div>
              </div>
              <div class="table__item" data-item="4">
                <div class="table__container">
                  <div class="table__item-header">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">№</div>
                        <div class="table__cell">Команда</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">И</div>
                        <div class="table__cell">В/Н/П</div>
                        <div class="table__cell">М</div>
                        <div class="table__cell">О</div>
                      </div>
                    </div>
                  </div>
                  <div class="table__body">
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">1</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">2</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">3</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">4</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                    <div class="table__row">
                      <div class="table__left">
                        <div class="table__cell">5</div>
                        <div class="table__cell">ЦСКА</div>
                      </div>
                      <div class="table__right">
                        <div class="table__cell">3</div>
                        <div class="table__cell">2/0/1</div>
                        <div class="table__cell">6-1</div>
                        <div class="table__cell">6</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__footer">ГРУППА D</div>
              </div>
              <div class="table__footer for-devices"><button class="table__footer-item is-active" type="button" data-item="1">A</button><button class="table__footer-item" type="button" data-item="2">B</button><button class="table__footer-item" type="button" data-item="3">C</button><button class="table__footer-item" type="button" data-item="4">D</button></div>
            </div>
          </section>
        </div>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer__wrapper"><a class="footer__item" href="https://t.me/RUSSIANCUP_OFFICIAL" target="_blank"><span class="footer__icon footer__icon--tg"><svg><use xlink:href="/spritemap.svg#icon-tg"></use></svg></span><span class="footer__text">@RUSSIANCUP_OFFICIAL</span></a><a class="footer__item" href="https://vk.com/RUSSIANCUP_OFFICIAL" target="_blank"><span class="footer__icon footer__icon--vk"><svg><use xlink:href="/spritemap.svg#icon-vk"></use></svg></span><span class="footer__text">@RUSSIANCUP_OFFICIAL</span></a></div>
        </div>
      </footer>
    </div>
  </body>

</html>